.page{
    background: white;
    font-family: Arial;
    color: #424242;
}

.header-upper-wrp{
    background: #7dd9e8;
}

.header-upper{
    margin: 0 auto;
    max-width: 58.625em;
}

.header-lower-wrp{
    background: #f5f5f5;
}

.header-lower{
    margin: 0 auto;
    max-width: 58.625em;
}


.col3-right{
    padding:24px  0px ;
    max-width: 58.625em;
    margin: 0 auto;
    background: white;
}
.container-wrp{
    float: left;
    width: 78.67803837953092%;
}
.left-pane{
    float:left;
    width: 26.28726287262873%;
    background: #f5f5f5;
}

.container{
    float: right;
    width: 70.18970189701897%;
    background-color: aquamarine;
}
.right-pane{
    float: right;
    width:18.76332622601279%;
    background-color: #f5f5f5;
}

.footer-wrp{
    background: #727272;    
}

.footer{
    max-width: 58.625em;
    margin:0 auto;
}

.background-wrp{
    background:url(/images/background-flow.png);
    background-repeat: repeat-y;
}